<section class="product-list py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <a href="/" class="btn btn-primary mb-2">Back to shop</a>

        <div class="card">
          <div class="card-header">
            <h5>Edit <%= product.name  %> Product</h5>
          </div>
          <div class="card-body">
            <form action="" enctype="multipart/form-data" method="POST">
              <div class="mb-2">
                <label class="form-label">Product Name</label>
                <input type="text" name="name" class="form-control" required value="<%= product.name %>" />
              </div>
              <div class="mb-2">
                <label class="form-label">Regular Price</label>
                <input type="text" name="regularPrice" class="form-control" required value="<%= product.regularPrice %>" />
              </div>
              <div class="mb-2">
                <label class="form-label">Sale Price</label>
                <input type="text" name="salePrice" class="form-control" required value="<%= product.salePrice %>" />
              </div>
              <div class="mb-2">
                <label class="form-label">Stock</label>
                <input type="text" name="stock" class="form-control" required value="<%= product.stock %>" />
              </div>
              <div class="mb-2">
                <label class="form-label">Thumbnail</label>
                <input type="file" name="thumbnail" class="form-control" />
              </div>

              <div class="mb-2">
                <img src="/uploads/product/<%= product.thumbnail %>" alt="" class="img-fluid">
              </div>

              <div class="mb-2">
                <button type="submit" class="btn btn-primary">
                  Update Product
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
